<%# Bulma is heavily used below to create the view %>

<div class="column is-8">
  <h3 class="title is-5 has-text-grey-light">Latest News</h3>
  <div class="discussions">
    <%# For each discussion, load it %>
    <% @discussions.each do |discussion| %>
      <div class="columns bb-not-last pv10">
        <div class="column is-1">
          <%# Show the users image %>
          <%= gravatar_image_tag(discussion.user.email, class:'border-radius-50', size: 48, alt: discussion.user.username) %>
        </div>
        <div class="column is-8" >
          <%= link_to discussion do %>
            <h3 class="title is-5" id="discuss"><%= discussion.title %></h3>
          <% end %>
          <div class="content">
            <%# Limiting the number of characters for the discussion, 
            set to 140 here %>
            <%= truncate(strip_markdown(discussion.content), length: 140) %>
            <%# Show how long ago the discussion was created %>
            <p><em><small>Posted <%= time_ago_in_words(discussion.created_at) %> ago in
              <% if discussion.topic %>
                <%# Link to this topics discussions %>
                <%= link_to discussion.topic.topic, discussion.topic %>
              <% end %>
              <%# Showing the username of the user who created the discussion %>
              by <%= discussion.user.username or discussion.user.name %>
              </small>
              </em>
            </p>
          </div>
        </div>

        <div class="column has-text-right">
          <p><em><small>Views: <%= discussion.view_count %>
          </small>
          </em>
          </p>
          <p><em><small>Replies: <%= discussion.replies.count %>
          </small>
          </em>
          </p>
        </div>

        <%# Checks if the user is the author of the post, if so allows them to edit/delete 
        the post and allows admins to edit/delete all discussions %>
        <% if discussion_author(discussion) %>
        <div class="column has-text-right">
          <%= link_to 'Edit', edit_discussion_path(discussion), class:'button' %>
          <%# Provide a confirmation button if you attempt to delete a post %>
          <%= link_to 'Delete', discussion, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>