<!-- Bulma being used below -->

<div class="column is-4 is-offset-1">
  <!-- Area to display most recently signed up members -->
  <h3 class="title is-5 has-text-grey-light">Recent Members</h3>
    <table>
      <tr>
        <% Array(User.all.order('last_seen_at desc')[0..3]).each do |d| %>
          <td>
            <%= link_to gravatar_image_tag(d.email, class:'border-radius-50', size: 5), d %>
          </td>
        <% end %>
      </tr>
      <tr>
        <% Array(User.all.order('last_seen_at desc')[0..3]).each do |d| %>
          <td class="has-text-centered">
            <%= link_to d.username, d %>
          </td>
        <% end %>
      </tr>

      <tr>
        <% Array(User.all.order('last_seen_at desc')[4..7]).each do |d| %>
          <td>
            <%= link_to gravatar_image_tag(d.email, class:'border-radius-50', size: 5), d %>
          </td>
        <% end %>
      </tr>
      <tr>
        <% Array(User.all.order('last_seen_at desc')[4..7]).each do |d| %>
          <td class="has-text-centered">
            <%= link_to d.username, d %>
          </td>
        <% end %>
      </tr>

      <tr>
        <% Array(User.all.order('last_seen_at desc')[8..11]).each do |d| %>
          <td>
            <%= link_to gravatar_image_tag(d.email, class:'border-radius-50', size: 5), d %>
          </td>
        <% end %>
      </tr>
      <tr>
        <% Array(User.all.order('last_seen_at desc')[8..11]).each do |d| %>
          <td class="has-text-centered">
            <%= link_to d.username, d %>
          </td>
        <% end %>
      </tr>
    </table>

  <br/>
  <br/>

  <!-- Show discussion topics and allow users to select topics they would like to see -->
  <%= link_to 'Topics', topics_path, class: 'title is-5 has-text-grey-light' %>
  <br>
  <br>

  <form class="filter_form" method="get">
    <div class="buttons">
      <% @topics.where.not(topic: "News").each do |t| %>
        <label class="button is-info is-rounded is-outlined">
          <%= check_box_tag("toggle[]", t.id)%>
          <%= t.topic %>
        </label>
      <% end %>
    </div>
    <button type="submit" class='button is-info'>Selected Post</button>
    <%= link_to 'New Topic', new_topic_path, class: 'button is-info' %>
  </form>

  <br/>
  <br/>

  <!-- Top posts on the forum based off view count -->
  <h3 class="title is-5 has-text-grey-light">Top Posts</h3>
  <table class="table is-fullwidth is-striped">
    <tbody>
      <% Discussion.all.sort_by{|d| d[:view_count]}.reverse[0..4].each do |d| %>
      <tr>
        <td> <%= link_to d.title, d %> </td>
        <td style="width:15%"> <%= d.view_count %> <i class="far fa-eye"></i></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br/>

  <!-- Static links to other webpages -->
  <h3 class="title is-5 has-text-grey-light">Links</h3>
  <div class="buttons">
    <%= link_to "Google", "http://www.google.com", class: 'button is-rounded is-outlined' %>
    <%= link_to "RMIT", "https://www.rmit.edu.au/", class: 'button is-rounded is-outlined' %>
    <%= link_to "Ruby on Rails", "https://rubyonrails.org/", class: 'button is-rounded is-outlined' %>
  </div>
</div>



