<%# Bulma used below %>

<div class="columns">
  <div class="column is-8">
    <h1 class="title is-2 has-text-grey discussion-title"><%= @discussion.title %></h1>
    <h3 class="subtitle is-5 has-text-grey-lighter">by <%= @discussion.user.username %> in <%= link_to @discussion.topic.topic, @discussion.topic %></h3>
    <div class="level">
      <div class="level-left"></div>
      <div class="level-right">
      	<%# Check if the user is the author of a discussion, if so, show edit/delete options %>
        <%# Check is in discussions_helper.rb %>
        <% if discussion_author(@discussion) %>
        <div class="buttons">
            <%= link_to 'Edit', edit_discussion_path(@discussion), class:'button'%>
            <%= link_to 'Delete', discussion_path(@discussion), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, class:'button' %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="content"><%= markdown(@discussion.content) %></div>

    <h2 class="subtitle is-5 has-text-grey"><%= @discussion.replies.count %> Replies</h2>

    <div id="discussion-replies">
      <%# This looks for a partial called reply
      <%# Render the replies and load _reply.html.erb %>
      <%= render @discussion.replies %>
    </div>

    <hr />

    <h3 class="subtitle is-3 has-text-grey">Leave a reply</h3>
    <%# Check if the user is signed in %>
    <% if user_signed_in? %>
      <%# If the user is signed in, load replies/form %>
      <%= render 'replies/form' %>
    <% else %>
    <%# If the user isn't signed in, display %>
    <p>To reply, please <%= link_to 'login', new_user_session_path %>. If you don't have an account with us, please 
      <%= link_to 'Sign up', new_user_registration_path %> for one today.</p>
    <% end %>

  </div>

  <%= render 'sidebar' %>
  <%= render 'shared/users' %>

</div>