<div>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <center>
        <%= gravatar_for @user %>
        <br>
        <br>
        <h3 style="font-family: bold, 'Arial Black'"> <%= @user.username %></h3>

        <br>

        <!--  get user city, display N/A if nil-->
        <%if @user.city != nil %>
          <p>City: <%= @user.city %></p>
        <%else %>
          <p>City: N/A</p>
        <%end %>
        <!--  date created-->
        <p>Date Created: <%= @user.created_at.try(:strftime, ('%d-%m-%Y')) %></p>
      </center>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="column">

      <!--  show discussions - start of user discussions loop-->
      <p style="font-family: bold,'Arial Black'">Recent Posts</p>
      <% @user.discussions.order('created_at desc').each do |user_discuss| %>
        <%= link_to user_discuss do %>
          <h3 class="title is-5" id="user_discuss"><%= user_discuss.title %></h3>
        <% end %>
        <p><%= truncate(strip_markdown(user_discuss.content), length: 140) %></p>
        <p><em><small>Posted <%= time_ago_in_words(user_discuss.created_at) %> ago in
          <% if user_discuss.topic %>
            <!-- Link to this topics discussions -->
            <%= link_to user_discuss.topic.topic, user_discuss.topic %>
          <% end %>
        </small>
        </em>
        <hr class="solid">
        </p>
      <%end %>
    </div>

    <div class="column">


     <%= render 'replies' %>
      <!--    end discussion loop-->

    </div>
  </div>


</div>