<!-- Bulma being used below -->
<%if @user == current_user %>
<div class="column is-2">
    <aside class="menu">
    <p class="menu-label">
        My Account
    </p>
    <ul class="menu-list">
        <li>
            <%= link_to 'My Profile', user_path(current_user), class:"navbar-item" %>
        </li>
        <li>
            <%= link_to 'My Posts', custom_user_posts_path(current_user), class:"navbar-item" %>
        </li>
        <li>
            <%= link_to 'My Comments', custom_user_replies_path(current_user), class:"navbar-item" %>
        </li>
        <li>
            <%= link_to 'Comments to Me', root_path, class:"navbar-item" %>
        </li>
        <li>
          <%= link_to "Settings", edit_user_path(current_user) %>
        </li>
    </ul>
    </aside>
  <%end %>
</div>