<!-- Bulma being used below -->

<div class="column is-2">
    <aside class="menu">
    <p class="menu-label">
        My Account
    </p>
    <ul class="menu-list">
        <li>
            <%= link_to 'My Profile', root_path, class:"navbar-item" %>
        </li>
        <li>
            <%= link_to 'My Posts', root_path, class:"navbar-item" %>
        </li>
        <li>
            <%= link_to 'My Comments', root_path, class:"navbar-item" %>
        </li>
        <li>
            <%= link_to 'Comments to Me', root_path, class:"navbar-item" %>
        </li>
        <li>
            <%= link_to 'Settings', root_path, class:"navbar-item" %>
        </li>
    </ul>
    </aside>
</div>