<% provide(:title, @user.name) %>
<div>


  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <center>
        <%= gravatar_for @user %>
        <br>
        <h3> <%= @user.username %></h3>
        <!--  get user city, display N/A if nil-->
        <%if @user.city != nil %>
          <p>City: <%= @user.city %></p>
        <%else %>
          <p>City: N/A</p>
        <%end %>
        <!--  date created-->
        <p>Date Created: <%= @user.date_created.strftime('%d-%m-%Y') %></p>
      </center>
    </div>
  </div>

  <br>
    <div class="row">
      <div class="column">

<!--  show discussions - start of user discussions loop-->
  <p style="font-family: bold,'Arial Black'">Recent Posts</p>
  <%@user.discussions.order('created_at desc').each do |user_discuss| %>
  <p>Topic: <%= link_to user_discuss.title, user_discuss%></p>
    <p>Content: <%= user_discuss.content%></p>
    <p>Created: <%= user_discuss.created_at%></p>
    <br>
          <hr class="solid">
      <%end %>
      </div>

      <div class="column">


<!--    show user comments-->
    <p style="font-family: bold,'Arial Black'">Recent Comments</p>
<!--    loops through global discussions-->
    <%Discussion.all.order('created_at desc').each do |all_discuss| %>
<!--      loops through each discussion reply-->
    <% all_discuss.replies.each do |c|%>
<!--        if reply username same as current user show reply-->
      <%if c.user.username == @user.username %>
       <p>Recent Comment: <%= link_to c.reply, all_discuss %></p>
          <p>Comments Time: <%= c.created_at %></p>
          <p>Comment on Post: <%= link_to all_discuss.title, all_discuss %></p>
              <hr class="solid">
      <%end %>
      <%end %>
      <%end %>
      </div>
    </div>
<!--    end discussion loop-->

</div>