<% provide(:title, @user.name) %>
<div>
<!--  image and username-->
<h1> <%= gravatar_for @user %>
  <%= @user.username %></h1>

<!--  date created-->
  <p>Date Created: <%= @user.date_created %></p>
  <br>
<!--  show discussions - start of discussions loop-->
  <p style="font-family: bold,'Arial Black'">Recent Posts</p>
  <%@user.discussions.order('created_at desc').each do |d| %>
  <p>Topic: <%= link_to d.title, d%></p>
    <p>Content: <%= d.content%></p>
    <p>Created: <%= d.created_at%></p>
    <br>

<!--    show user comments-->
    <p style="font-family: bold,'Arial Black'">Recent Comments</p>
<!--    loops through discussion-->
    <%Discussion.all.order('created_at desc').each do |r| %>
<!--      loops through each discussion reply-->
    <% d.replies.each do |c|%>
<!--        if reply username same as current user show reply-->
      <%if c.user.username == @user.username %>
       <p>Recent Comment: <%= link_to c.reply, d %></p>
          <p>Comments Time: <%= c.created_at %></p>
          <p>Comment on Post: <%= link_to r.title, r %></p>
        <%end %>
      <%end %>
    <%end %>

<!--    end discussion loop-->
  <%end %>

</div>