<!-- Bulma is heavily used below to create the view -->
<div class="column is-8">
  <%= link_to "<button class='button is-info'>Recent Posts</button>".html_safe, :sort => "created_at desc" %>
  <% topic_list = [] %>
   <%= link_to "<button class='button is-info'>Selected Post</button>".html_safe, :toggle => 2 %>
  <% if user_signed_in? %>
    <!-- Change the route here to the My Settings route -->
    <%= link_to 'My Settings', current_user, class:"button is-info" %>
  <% else %>
    <%= link_to 'My Settings', login_path, class:"button is-info" %>
  <% end %>

  <br>
  <br>
  <h3 class="title is-5 has-text-grey-light">Latest News</h3>
  <div class="discussions">
    <%# For each discussion, load it %>
    <% @discussions.each do |discussion| %>
      <div class="columns bb-not-last pv10">
        <div class="column is-1">
          <%# Show the users image %>
          <%= gravatar_image_tag(discussion.user.email, class:'border-radius-50', size: 48, alt: discussion.user.username) %>
        </div>
        <div class="column is-8" >
          <%= link_to discussion do %>
            <h5 class="title is-5" id="discuss"><%= discussion.title %></h5>
          <% end %>
          <div class="content">
            <%# Limiting the number of characters for the discussion, 
            set to 140 here %>
            <%= truncate(strip_markdown(discussion.content), length: 140) %>
            <%# Show how long ago the discussion was created %>
            <p><em><small>Posted <%= time_ago_in_words(discussion.created_at) %> ago in
              <% if discussion.topic %>
                <%# Link to this topics discussions %>
                <%= link_to discussion.topic.topic, discussion.topic %>
              <% end %>
              <%# Showing the username of the user who created the discussion %>
              by <%= link_to discussion.user.username, User.where(username: discussion.user.username).first %>
            </small></em></p>
          </div>
        </div>

        <div class="column has-text-right">
          <p><em><small><%= discussion.view_count %> <i class="far fa-eye"></i></small></em></p>
          <p><em><small><%= discussion.replies.count %> <i class="far fa-comment-dots"></i></small></em></p>
        </div>

        <!-- Checks if the user is the author of the post, if so allows them to edit/delete 
        the post and allows admins to edit/delete all discussions -->
        <% if discussion_author(discussion) %>
        <div class="column has-text-right">
          <%= link_to 'Edit', edit_discussion_path(discussion), class:'button' %>
          <%# Provide a confirmation button if you attempt to delete a post %>
          <%= link_to 'Delete', discussion, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>